{% extends 'flatpages/default.html' %}

{% load _filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <hr>
    {% if newslist %} <!-- Если есть товары, то выводим таблицу с ними -->
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Дата
                </td>
                <td>
                    Краткое содержание
                </td>
            </tr>
        {% for news_detail in newslist %} <!-- Для каждого товара будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно так же, как и в Python. product — переменная цикла, т. е. наш товар, взятый из общего списка -->
            <tr>
                <td>
                    {{ news_detail.title|cut:"херня" }} <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в Python. Здесь также можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание и т. д.  -->
                </td>
                <td>
                    {{ news_detail.dateCreation|date:"j M Y G:i:s" }}
                </td>
                <td>
                    {{ news_detail.text|truncatechars:50|cut:"жопа" }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}
